apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespaces/kubeflow.yaml

  ###########################
  ## deploykf-dependencies ##
  ###########################
  - deploykf-dependencies/istio.yaml
  - namespaces/istio.yaml
  - deploykf-dependencies/kyverno.yaml
  - namespaces/kyverno.yaml

  ###################
  ## deploykf-core ##
  ###################
  - deploykf-core/deploykf-auth.yaml
  - namespaces/deploykf-auth.yaml
  - deploykf-core/deploykf-dashboard.yaml
  - namespaces/deploykf-dashboard.yaml
  - deploykf-core/deploykf-istio-gateway.yaml
  - namespaces/deploykf-istio-gateway.yaml
  - deploykf-core/deploykf-profiles-generator.yaml

  ##################
  ## deploykf-opt ##
  ##################

  ####################
  ## deploykf-tools ##
  ####################
  ## TODO: add 'deploykf-tools' https://www.deploykf.org/reference/future-tools/

  ###########################
  ## kubeflow-dependencies ##
  ###########################

  ####################
  ## kubeflow-tools ##
  ####################